<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preload" href="css/main.mina.css" as="style">
	<link rel="preload" href="css/owl.carousel.mina.css" as="style">
	<link rel="preload" href="js/third-party.js" as="script">
	<link rel="stylesheet" href="css/main.mina.css">
	<link rel="stylesheet" href="css/owl.carousel.mina.css">
	<link rel="stylesheet" href="css/type.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
</head>

<body id="pricing-page" class="body-padded">
	<!-- Language Selector Popup -->
	<div class="site-wrapper">
		<main role="main">
			<section class="form-basic page-form ie-scroll">
				<!-- <div id="progressbar" class="progressbar container">
					<div class="progress-icon active">
						<li>1</li>
					</div>
					<div class="progress-icon">
						<li>2</li>
					</div>
					<div class="progress-icon">
						<li>3</li>
					</div>
					<div class="progress-icon">
						<li>4</li>
					</div>
					<div class="progress-icon">
						<li>5</li>
					</div>
					<div class="progress-icon">
						<li>6</li>
					</div>
					<div class="progress-icon">
						<li>7</li>
					</div>
				</div>
				<br> -->
				<div class="prv-avatar container">
					<img id="form-avatar" class="form-avatar" src="images/bucca.png">
					<div v-if="step > 0">
						<input v-on:click="goToPreviousPage()" type="image" id="prvbtn" name="previous" class="prv-btn"
							src="images/convert.png" data-rotate="90" />
					</div>
					<div v-else></div>
				</div>
				<div class="container form-container">
					<form class="pricing-form" id="pricing-form" ref="form" name="form" target="_blank" action="https://formsubmit.co/gmwaleed@hotmail.com" method="POST">
						<fieldset>
							<h3 id="q1">To help us better understand your needs, what type(s) of assets are you working with?</h3>
							<!-- Set grid for checkbox/radio questions -->
							<div id="a1" class="options-grid" style="opacity: 0.0;">
								<input v-on:keyup="keyCheck" v-model="form['assets']" type="checkbox"
									class="checkbox-input" id="assets-0" name="assets" value="Cars" />
								<label class="chbox-label" for="assets-0">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/car_selected.png">
									</div>
									<div class="pic-box">
										<img
											src="images/car_default.png">
									</div>
									<div class="label-box">
										Cars
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['assets']" type="checkbox"
									class="checkbox-input" id="assets-1" name="assets" value="Vans/Trucks" />
								<label class="chbox-label" for="assets-1">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/truck_selected.png">
									</div>
									<div class="pic-box">
										<img
											src="images/truck_default.png">
									</div>
									<div class="label-box">
										Vans/Trucks
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['assets']" type="checkbox"
									class="checkbox-input" id="assets-2" name="assets" value="Buses" />
								<label class="chbox-label" for="assets-2">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/bus_selected.png">
									</div>
									<div class="pic-box">
										<img
											src="images/bus_default.png">
									</div>
									<div class="label-box">
										Buses
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['assets']" type="checkbox"
									class="checkbox-input" id="assets-3" name="assets" value="Trailers" />
								<label class="chbox-label" for="assets-3">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img src="images/trailer_selected.png">
									</div>
									<div class="pic-box">
										<img src="images/trailer_default.png">
									</div>
									<div class="label-box">
										Trailers
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['assets']" type="checkbox"
									class="checkbox-input" id="assets-4" name="assets" value="Electric Vehicles" />
								<label class="chbox-label" for="assets-4">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img src="images/ev_active.png">
									</div>
									<div class="pic-box">
										<img
											src="images/ev_default.png">
									</div>
									<div class="label-box">
										Electric Vehicles
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['assets']" type="checkbox"
									class="checkbox-input option-other" id="assets-5" name="assets" value="Other" />
								<label class="chbox-label" for="assets-5">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/other_selected.png">
									</div>
									<div class="pic-box">
										<img
											src="images/other_default.png">
									</div>
									<div class="label-box">
										Other
									</div>
								</label>
							</div>
							<!-- <label v-if="validateAssets && displayError && isInvalid" id="hint" class="error">Please
								select at least one asset to track</label>
							<label v-else-if="validateFeatures && displayError && isInvalid" id="hint"
								class="error">Please select at least one interested feature</label> -->
							<div v-else></div>
							<!-- End grid -->
							<!-- GDPR compliance -->
							<!-- End GDPR compliance -->
							<!-- Buttons -->
							<div class="btn-div"></div>
							<div id="b1" class="btn-group" style="opacity: 0.0;">
								<input v-if="isInvalid" v-on:click="goToNextPage" type="button" id="nextbtn-1" name="next"
									value="Next" class="form-button btn-off" />
								<input v-else @click="_type(document.getElementById('q2'), 'We can definitely help with that! How many assets do you have?>');goToNextPage();" type="button" id="nextbtn-1" name="next"
									value="Next" class="form-button btn-on" />
							</div>
							<div id="footer-exp"></div>
							<!-- End buttons -->
						</fieldset>
						<fieldset>
							<h3 id="q2">We can definitely help with that! How many assets do you have?</h3>
							<!-- Set grid for checkbox/radio questions -->
							<div id="a2" class="options-grid" style="opacity: 0.0;">
								<input v-on:keyup="keyCheck" v-model="form['assetcount']" type="radio"
									class="radio-input" id="assetcount-0" name="assetcount" value="1 - 2"
									placeholder="1 - 2" />
								<label class="chbox-label-sm" for="assetcount-0">
									<div class="mark-box">
										<span class="radio-mark"></span>
									</div>
									<div class="label-box">
										1 - 24
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['assetcount']" type="radio"
									class="radio-input" id="assetcount-1" name="assetcount" value="3 - 50"
									placeholder="3 - 50" />
								<label class="chbox-label-sm" for="assetcount-1">
									<div class="mark-box">
										<span class="radio-mark"></span>
									</div>
									<div class="label-box">
										25 - 50
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['assetcount']" type="radio"
									class="radio-input" id="assetcount-2" name="assetcount" value="50+"
									placeholder="50+" />
								<label class="chbox-label-sm" for="assetcount-2">
									<div class="mark-box">
										<span class="radio-mark"></span>
									</div>
									<div class="label-box">
										50+
									</div>
								</label>
							</div>
							<label v-if="displayError && isInvalid" id="hint" class="error">Please select the number of
								assets you want to track</label>
							<div v-else></div>
							<!-- End grid -->
							<!-- GDPR compliance -->
							<!-- End GDPR compliance -->
							<!-- Buttons -->
							<div class="btn-div"></div>
							<div id="b2" class="btn-group" style="opacity: 0.0;">
								<input v-if="isInvalid" @click="goToNextPage" type="button" id="nextbtn-2" name="next"
									value="Next" class="form-button btn-off" />
								<input v-else @click="_type(document.getElementById('q3'), 'What feature(s) are you most interested in?>', document.getElementById('a3'), document.getElementById('b3'));goToNextPage();" type="button" id="nextbtn-2" name="next"
									value="Next" class="form-button btn-on" />
							</div>
							<div id="footer-exp"></div>
							<!-- End buttons -->
						</fieldset>
						<fieldset>
							<h3 id="q3">What feature(s) are you most interested in?</h3>
							<!-- Set grid for checkbox/radio questions -->
							<div id="a3" class="options-grid" style="opacity: 0.0;">
								<input v-on:keyup="keyCheck" v-model="form['features']" type="checkbox"
									class="checkbox-input" id="features-0" name="features" value="GPS" />
								<label class="chbox-label" for="features-0">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/GPS_selected.png">
									</div>
									<div class="pic-box">
										<img
											src="images/GPS_default.png">
									</div>
									<div class="label-box">
										GPS
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['features']" type="checkbox"
									class="checkbox-input" id="features-1" name="features" value="ELD" />
								<label class="chbox-label" for="features-1">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/ELD_selected.png">
									</div>
									<div class="pic-box">
										<img
											src="images/ELD_default.png">
									</div>
									<div class="label-box">
										ELD
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['features']" type="checkbox"
									class="checkbox-input" id="features-2" name="features" value="Cameras" />
								<label class="chbox-label" for="features-2">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/camera_selected.png">
									</div>
									<div class="pic-box">
										<img
											src="images/camera_default.png">
									</div>
									<div class="label-box">
										Cameras
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['features']" type="checkbox"
									class="checkbox-input" id="features-3" name="features" value="Maintenance" />
								<label class="chbox-label" for="features-3">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/maintenance_selected.png">
									</div>
									<div class="pic-box">
										<img
											src="images/maintenance_default.png">
									</div>
									<div class="label-box">
										Maintenance
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['features']" type="checkbox"
									class="checkbox-input" id="features-4" name="features" value="Routing" />
								<label class="chbox-label" for="features-4">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/routing_selected.png">
									</div>
									<div class="pic-box">
										<img
											src="images/routing_default.png">
									</div>
									<div class="label-box">
										Routing
									</div>
								</label>
								<input v-on:keyup="keyCheck" v-model="form['features']" type="checkbox"
									class="checkbox-input option-other" id="features-5" name="features" value="Other" />
								<label class="chbox-label" for="features-5">
									<div class="mark-box">
										<span class="checkbox-mark"></span>
									</div>
									<div class="pic-box-selected">
										<img
											src="images/other_selected_int.png">
									</div>
									<div class="pic-box">
										<img
											src="images/other_default_int.png">
									</div>
									<div class="label-box">
										Other
									</div>
								</label>
							</div>
							<label v-if="validateAssets && displayError && isInvalid" id="hint" class="error">Please
								select at least one asset to track</label>
							<label v-else-if="validateFeatures && displayError && isInvalid" id="hint"
								class="error">Please select at least one interested feature</label>
							<div v-else></div>
							<!-- End grid -->
							<!-- GDPR compliance -->
							<!-- End GDPR compliance -->
							<!-- Buttons -->
							<div class="btn-div"></div>
							<div id="b3" class="btn-group" style="opacity: 0.0;">
								<input v-if="isInvalid" @click="goToNextPage" type="button" id="nextbtn-3" name="next"
									value="Next" class="form-button btn-off" />
								<input v-else @click="_type(document.getElementById('q4'), 'We have a great price ready! Which email should we send info to?>', document.getElementById('a4'), document.getElementById('b4'));goToNextPage();" type="button" id="nextbtn-3" name="next"
									value="Next" class="form-button btn-on" />
							</div>
							<div id="footer-exp"></div>
							<!-- End buttons -->
						</fieldset>
						<fieldset>
							<h3 id="q4">We have a great price ready! Which email should we send info to?</h3>
							<div id="a4" class="text-input" style="opacity: 0.0;">
								<input v-on:keyup="keyCheck" v-model.trim="form['email1']" type="text"
									class="text-input" id="email1" name="email" placeholder="email@example.com"
									autofocus required />
								<label v-if="validateEmail && displayError && isInvalid" id="hint" class="error">Please
									enter a valid email</label>
								<label v-else-if="validateName && displayError && isInvalid" id="hint"
									class="error">Please fill out both first and last name</label>
								<label v-else-if="validateCompany && displayError && isInvalid" id="hint"
									class="error">Please fill out your company&#39;s name</label>
								<label v-else-if="validatePhone && displayError && isInvalid" id="hint"
									class="error">Please enter a valid phone number</label>
								<div v-else></div>
							</div>
							<!-- GDPR compliance -->
							<!-- End GDPR compliance -->
							<!-- Buttons -->
							<div class="btn-div"></div>
							<div id="b4" class="btn-group" style="opacity: 0.0;">
								<input v-if="isInvalid" @click="goToNextPage" type="button" id="nextbtn-4" name="next"
									value="Next" class="form-button btn-off" />
								<input v-else @click="_type(document.getElementById('q5'), 'Almost there! What\'s your name?>', document.getElementById('a5'), document.getElementById('b5'));goToNextPage();" type="button" id="nextbtn-4" name="next"
									value="Next" class="form-button btn-on" />
							</div>
							<div id="footer-exp"></div>
							<!-- End buttons -->
						</fieldset>
						<fieldset>
							<h3 id="q5">Almost there! What&#39;s your name?</h3>
							<div id="a5" class="text-input" style="opacity: 0.0;">
								<input v-on:keyup="keyCheck" v-model.trim="form['name1']" type="text" class="text-input"
									id="name1" name="name" placeholder="First Name" autofocus required />
								<input v-on:keyup="keyCheck" v-model.trim="form['name2']" type="text" class="text-input"
									id="name2" name="name" placeholder="Last Name" required />
								<label v-if="validateEmail && displayError && isInvalid" id="hint" class="error">Please
									enter a valid email</label>
								<label v-else-if="validateName && displayError && isInvalid" id="hint"
									class="error">Please fill out both first and last name</label>
								<label v-else-if="validateCompany && displayError && isInvalid" id="hint"
									class="error">Please fill out your company&#39;s name</label>
								<label v-else-if="validatePhone && displayError && isInvalid" id="hint"
									class="error">Please enter a valid phone number</label>
								<div v-else></div>
							</div>
							<!-- GDPR compliance -->
							<!-- End GDPR compliance -->
							<!-- Buttons -->
							<div class="btn-div"></div>
							<div id="b5" class="btn-group" style="opacity: 0.0;">
								<input v-if="isInvalid" @click="goToNextPage" type="button" id="nextbtn-5" name="next"
									value="Next" class="form-button btn-off" />
								<input v-else @click="_type(document.getElementById('q6'), 'What\'s your company\'s name?>', document.getElementById('a6'), document.getElementById('b6'));goToNextPage();" type="button" id="nextbtn-5" name="next"
									value="Next" class="form-button btn-on" />
							</div>
							<div id="footer-exp"></div>
							<!-- End buttons -->
						</fieldset>
						<fieldset>
							<h3 id="q6">What&#39;s your company&#39;s name?</h3>
							<div id="a6" class="text-input" style="opacity: 0.0;">
								<input v-on:keyup="keyCheck" v-model.trim="form['company1']" type="text"
									class="text-input" id="company1" name="company" placeholder="Company Name" autofocus
									required />
								<label v-if="validateEmail && displayError && isInvalid" id="hint" class="error">Please
									enter a valid email</label>
								<label v-else-if="validateName && displayError && isInvalid" id="hint"
									class="error">Please fill out both first and last name</label>
								<label v-else-if="validateCompany && displayError && isInvalid" id="hint"
									class="error">Please fill out your company&#39;s name</label>
								<label v-else-if="validatePhone && displayError && isInvalid" id="hint"
									class="error">Please enter a valid phone number</label>
								<div v-else></div>
							</div>
							<!-- GDPR compliance -->
							<!-- End GDPR compliance -->
							<!-- Buttons -->
							<div class="btn-div"></div>
							<div id="b6" class="btn-group" style="opacity: 0.0;">
								<input v-if="isInvalid" @click="goToNextPage" type="button" id="nextbtn-6" name="next"
									value="Next" class="form-button btn-off" />
								<input v-else @click="_type(document.getElementById('q7'), 'Finally, What\'s a good phone number for you?>', document.getElementById('a7'), document.getElementById('b7'));goToNextPage();" type="button" id="nextbtn-6" name="next"
									value="Next" class="form-button btn-on" />
							</div>
							<div id="footer-exp"></div>
							<!-- End buttons -->
						</fieldset>
						<fieldset>
							<h3 id="q7">Finally, What&#39;s a good phone number for you?</h3>
							<div id="a7" class="text-input" style="opacity: 0.0;">
								<input v-on:keyup="keyCheck" v-model.trim="form['phone1']" type="text"
									class="text-input" id="phone1" name="phone" placeholder="(XXX) XXX-XXXX" autofocus
									required />
								<label v-if="validateEmail && displayError && isInvalid" id="hint" class="error">Please
									enter a valid email</label>
								<label v-else-if="validateName && displayError && isInvalid" id="hint"
									class="error">Please fill out both first and last name</label>
								<label v-else-if="validateCompany && displayError && isInvalid" id="hint"
									class="error">Please fill out your company&#39;s name</label>
								<label v-else-if="validatePhone && displayError && isInvalid" id="hint"
									class="error">Please enter a valid phone number</label>
								<div v-else></div>
							</div>
							<!-- GDPR compliance -->
							<!-- End GDPR compliance -->
							<!-- Buttons -->
							<div class="btn-div"></div>
							<div id="b7" class="btn-group" style="opacity: 0.0;">
								<input v-if="isInvalid" type="button" @click="submitForm" id="nextbtn-7" name="next"
									value="Submit" class="form-button btn-off" form="pricing-form" />
								<input v-else type="submit" @click="submitForm" id="nextbtn-7" name="next"
									value="Submit" class="form-button btn-on" form="pricing-form" />
							</div>
							<div id="footer-exp"></div>
							<!-- End buttons -->
						</fieldset>
						<fieldset></fieldset>
						<!-- Hidden UTM fields -->
						<!-- <input v-model="form['keyword']" type="text" name="keyword" id="keyword" hidden=true>
						<input v-model="form['utm_campaign']" type="text" name="utm_campaign" id="utm_campaign"
							hidden=true>
						<input v-model="form['utm_source']" type="text" name="utm_source" id="utm_source" hidden=true>
						<input v-model="form['utm_medium']" type="text" name="utm_medium" id="utm_medium" hidden=true>
						<input v-model="form['utm_content']" type="text" name="utm_content" id="utm_content"
							hidden=true>
						<input v-model="form['utm_term']" type="text" name="utm_term" id="utm_term" hidden=true>
						<input v-model="form['utm_ts']" type="text" name="utm_ts" id="utm_ts" hidden=true>
						<input v-model="form['utm_ext_ad_id']" type="text" name="utm_ext_ad_id" id="utm_ext_ad_id"
							hidden=true>
						<input v-model="form['utm_ext_adset_id']" type="text" name="utm_ext_adset_id"
							id="utm_ext_adset_id" hidden=true>
						<input v-model="form['utm_ext_campaign_id']" type="text" name="utm_ext_campaign_id"
							id="utm_ext_campaign_id" hidden=true>
						<input v-model="form['fpv']" type="text" name="fpv" id="fpv" hidden=true>
						<input v-model="form['referrer']" type="text" name="referrer" id="referrer" hidden=true>
						<input v-model="form['ip_address']" type="text" name="ip_address" id="ip_address" hidden=true>
						<input v-model="form['ip_data']" type="text" name="ip_data" id="ip_data" hidden=true>
						<input v-model="form['quant_id']" type="text" name="quant_id" id="quant_id" hidden=true>
						<input type="hidden" name="form_title" id="form_title" value="Pricing request form">
						<input type="hidden" name="country" id="country" value="United States">
						<input type="hidden" name="written_language" id="written_language" value="English"> -->
						<!-- <input type="hidden" name="post_url" id="post_url"
							value="https://hooks.zapier.com/hooks/catch/5604441/otd0ev1/"> -->
						<!-- <input v-model="form['mixpanel_id']" type="hidden" name="mixpanel_id" id="mixpanel_id"
							hidden=true> -->
						<!-- <input type="hidden" name="submission_time" id="submission_time" hidden=true> -->
						<!-- <input v-model="form['cid']" type="text" name="cid" id="cid" hidden=true> -->
						<!-- <input v-model="form['experimentName']" type="hidden" name="experimentName" id="experimentName"
							hidden=true> -->
						<!-- <input v-model="form['gclid']" type="text" name="gclid" id="gclid" hidden=true>
						<input v-model="form['_mkto_trk']" type="text" name="_mkto_trk" id="_mkto_trk" hidden=true>
						<input v-model="form['is_partner']" type="text" name="is_partner" id="is_partner" hidden=true>
						<input v-model="form['mutinyId']" type="text" name="mutinyId" id="mutinyId" hidden=true>
						<input v-model="form['msclkid']" type="text" name="msclkid" id="msclkid" hidden=true> -->
						<input type="hidden" name="_next" value="https://waleedmohamed.com">
						<input type="hidden" name="_subject" value="New Magnitrack submission!">
						<input type="text" name="_honey" style="display:none">
						<input type="hidden" name="_captcha" value="false">
						<input type="hidden" name="_template" value="table">
						<!-- End hidden UTM fields -->
					</form>
				</div>
			</section>
			<script src="js/forms.js"></script>
		</main>
		<script src="js/type.js"></script>
		<script src="js/jquery-3.3.1.mina.js"></script>
</body>

</html>