<link rel="preload" href="pricing/css/main.mina.css" as="style">
<link rel="preload" href="pricing/css/owl.carousel.mina.css" as="style">
<link rel="preload" href="pricing/js/third-party.js" as="script">
<link rel="stylesheet" href="pricing/css/main.mina.css">
<link rel="stylesheet" href="pricing/css/owl.carousel.mina.css">
<link rel="stylesheet" href="pricing/css/type.css">
<link rel="stylesheet" href="pricing/css/slider.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css" />



<fieldset>
    <input type="tel" id="phone" />

</fieldset>

<p id="yoshi"></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script>
    // $.ajax({
    //     type: "GET",
    //     dataType: "json",
    //     url: 'https://ip-api.io/json?api_key={YOUR_API_KEY}',
    //     success: function(data) {
    //         document.getElementById('yoshi').innerText = 
    //         'Your ip address is ' + data.ip
    //             + ' city: ' + data.city
    //             + ' region: ' + data.region_name
    //             + ' country: ' + data.country_name
    //             + ' callCode: ' + data.callingCode
    //             + ' longitude ' + data.longitude
    //             + ' lattitude ' + data.latitude
    //             + ' organisation ' + data.organisation;

            
    //     }
    // });
  var input = document.querySelector("#phone");
  intlTelInput(input, {
  initialCountry: "auto",
  geoIpLookup: function(success, failure) {
    $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
      var countryCode = (resp && resp.country) ? resp.country : "us";
      success(countryCode);
    });
  },
});
$.getJSON('https://ip-api.io/json/1.2.3.4', function(data){
										console.log(data);
									});
</script>

<script src="pricing/js/forms.js"></script>
<script src="pricing/js/type.js"></script>
		<script src="pricing/js/jquery-3.3.1.mina.js"></script>