/*

Template Name: Square

Author URI: https://themeforest.net/user/epic-themes

Author Name: Epic Themes

Version: 1.0

*/



/* --- TABLE OF CONTENT



01. GENERAL LAYOUT

02. MENU-NAV

03. FOOTER

04. HOME

05. TEAM

06. FEATURES

07. PRICING

08. BLOG

09. CONTACT

10. OTHER ELEMENTS

		a. Newsletter

		b. Buttons

		c. Gallery PopUp

		d. Testimonials

		e. Accordion Tabs

		f. Carousel

		g. Features List

		h) Dropcaps Features

		i) Partners

11. MEDIA QUERIES



--- */



/* ========================================================== */

/* 			               01. GENERAL LAYOUT                 */

/* ========================================================== */

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&family=Goldman&display=swap');


ul {

	padding: 0;

}

.sub-headline
{
	font-family: 'Goldman';
	font-weight: 900;
}

ul, ol { 

	list-style: none; 

	list-style-image: none; 

	margin: 0; 

	padding: 0;

	color:#292929;

	font-size: 14px;

	line-height:24px;

	margin-bottom:20px;

}

	

ul li, ol li{

	font-size: 24px;

	line-height: 40px;

	font-family: 'Nunito';

	font-weight: 600;

	list-style-type: none;

}



ul li i{

	vertical-align: middle;

	padding-right: 5px;

}



p {

	font-size: 20px;

    line-height: 35px;

	font-weight: 400;

	color: black;

	margin: 20px 0px;

	font-family: 'Nunito';

}



a,

a:hover,

a:focus,

a:active,

a:visited {

	text-decoration: none;

	outline: 0;

}



a:hover{

	color: #017df7;

}



h1,

h2,

h3,

h4,

h5,

h6 {

  letter-spacing: 2px;

  font-family: 'Bowlby One';

  line-height: 1.2;

  margin-top: 0;

  margin-bottom:20px;

  color: #071e55;

  font-weight: 400;

}

.lfloat{
	float: left;
}

.rfloat{
	float: right;
}

h1 {
	font-size: 35px;
}

#headline-container{
	margin-top: 60px;
}

.heading {
	font-size: 40px;
	line-height: 55px;
	/* text-shadow: 0 0 40px black; */
}

span {
	color: #0470ea;
	font-style: normal;
}

em {
	color: cadetblue;
	font-style: normal;
}

h2 {

	font-size: 30px;

}



h3 {

	font-size: 30px;

}



h4 {

	font-size: 26px;

}



h5 {

	font-size: 20px;

}



h6 {

	font-size: 18px;

}



h2.section-title {

    margin-bottom: 10px;

}



p.section-subtitle{

	font-size:18px;

}



p.section-subtitle.white{

	color:#ffffff;

}



iframe {

    max-width: 100%;

    border: none;

}



.iframe-youtube{

    position: relative;

    margin-top: 30px;

    z-index: 100;

}

.iframe-div {
    width: 100%;
    height: 100%;
    max-width: 1034px;
    max-height: 543px;
    margin: 0 auto;
}
.iframe-div-laptop {
    position: relative;
    padding-bottom: 67.5%;
    height: 0;
}
.iframe-div-laptop iframe {
    box-sizing: border-box;
    background: url(../images/laptops.png) center center no-repeat;
    background-size: contain;
    padding: 11.9% 15.5% 14.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.iframe-youtube iframe{

    padding: 10px 10px;

    box-shadow: 0 15px 36px rgba(0, 0, 0, 0.20);

    background-color: #fff;

    webkit-border-radius: 8px 8px;

    -moz-border-radius: 8px 8px;

    border-radius: 8px 8px;

    z-index: 100;

}



.iframe-youtube:after {

	background-image: url('../images/white-laptop.png');
	
	background-repeat:no-repeat;

    background-size: 100%;

    content: "";

    position: absolute;

    width: 204px;

    height: 200px;

    right: 55px;

    top: -40px;

    z-index: -1;

}



.video-popup-wrapper{

	position: relative;

}



.video-popup-wrapper:before{

	background-image: radial-gradient(#dee1e0 15%,transparent 25%);

    background-size: 20px 20px;

    content: "";

    position: absolute;

    width: 204px;

    height: 200px;

    right: -64px;

    top: -40px;

    z-index: -1;

}



.video-popup-wrapper:after{

	background-image: radial-gradient(#dee1e0 15%,transparent 25%);

    background-size: 20px 20px;

    content: "";

    position: absolute;

    width: 204px;

    height: 200px;

    left: -45px;

    bottom: -60px;

    z-index: -1;

}



.video-popup-wrapper img.hero-images{

	padding: 10px 10px;

	box-shadow: 0 20px 42px rgba(0, 0, 0, 0.25);

    background-color: #fff;

    webkit-border-radius: 8px 8px;

    -moz-border-radius: 8px 8px;

    border-radius: 8px 8px;

}



.video-popup-wrapper:hover img.hero-images {

	opacity: 0.99;

}



.popup-gallery:hover .video-popup-image{

	opacity: 1;

	

}



.video-play-icon {

	position: absolute;

	z-index: 100;

	top: 50%;

	left: 50%;

	margin-top: -45px;

	margin-left: -45px;

    width: 90px;

    height: 90px;

    line-height: 90px;

    text-align: center;

    font-size: 40px;

    color: #007bff;

    background-color: rgba(0, 123, 255, 0.70);

    border-radius: 50% 50%;

    display: inline-block;

    transition: all 0.4s ease-in-out;

    -webkit-transition: all 0.4s ease-in-out;

}



.video-play-icon:hover {

    background-color: rgba(0, 123, 255, 0.99);

    transition: all 0.4s ease-in-out;

    -webkit-transition: all 0.4s ease-in-out;

}



.video-play-icon i {

    color: #fff;

}



.white-text{ 

	color: #fff;

}



.blue {

    color: #017df7;

}



.section-top-border{

	border-top: 1px solid #efefef;

}



.section-bottom-border{

	border-bottom: 1px solid #efefef;

}



.section-white {

	background: #fff;

	padding: 90px 0 100px 0;

}



.section-grey{

	background: #fafbfc;

	padding: 90px 0 100px 0;

}



.section-blue{

	background-color: #1e90ff;

	padding: 90px 0;

}



.section-white.no-padding, .section-grey.no-padding, .section-blue.no-padding {

	padding:0;

}



.section-white.medium-paddings, .section-grey.medium-paddings, .section-blue.medium-paddings {

	padding: 60px 0;

}



.section-white.small-paddings, .section-grey.small-paddings, .section-blue.small-paddings {

	padding: 30px 0;

}



.section-white.xsmall-paddings, .section-grey.xsmall-paddings, .section-blue.xsmall-paddings {

	padding: 10px 0;

}



.section-white.small-padding-top, .section-grey.small-padding-top, .section-blue.small-padding-top {

	padding: 30px 0 90px 0;

}



.section-white.small-padding-bottom, .section-grey.small-padding-bottom, .section-blue.small-padding-bottom {

	padding: 90px 0 70px 0;

}



.section-white.no-padding-bottom, .section-grey.no-padding-bottom, .section-blue.no-padding-bottom {

	padding: 90px 0 0 0;

}



.small-col-inside{

	max-width: 575px;

	padding-left: 55px;

}



.width-100{

	width: 100%;

}



.box-shadow {

	border-radius: 8px;

    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.15);

}



/* margin and padding classes */



.margin-right-15 {

	margin-right: 15px !important;

}



.margin-right-25 {

	margin-right: 25px !important;

}



.margin-left-20 {

	margin-left: 20px !important;

}



.margin-top-110 {

	margin-top: 110px !important;

}



.margin-top-100 {

	margin-top: 100px !important;

}



.margin-top-90 {

	margin-top: 90px !important;

}



.margin-top-80 {

	margin-top: 80px !important;

}



.margin-top-70 {

	margin-top: 70px !important;

}



.margin-top-60 {

	margin-top: 60px !important;

}



.margin-top-50 {

	margin-top: 50px !important;

}



.margin-top-40 {

	margin-top: 40px !important;

}



.margin-top-35 {

	margin-top: 35px !important;

}



.margin-top-30 {

	margin-top: 30px !important;

}



.margin-top-20 {

	margin-top: 20px !important;

}



.margin-top-10 {

	margin-top: 10px !important;

}



.margin-top-5 {

	margin-top: 5px !important;

}



.margin-bottom-0 {

	margin-bottom: 0px !important;

}



.margin-bottom-5{

	margin-bottom: 5px;

}



.margin-bottom-10 {

	margin-bottom: 10px !important;

}



.margin-bottom-20 {

	margin-bottom: 20px !important;

}



.margin-bottom-30 {

	margin-bottom: 30px !important;

}



.margin-bottom-40 {

	margin-bottom: 40px !important;

}



.margin-bottom-50 {

	margin-bottom: 50px !important;

}



.margin-bottom-60 {

	margin-bottom: 60px !important;

}



.margin-bottom-70 {

	margin-bottom: 70px !important;

}



.margin-bottom-80 {

	margin-bottom: 80px !important;

}



.margin-bottom-100 {

	margin-bottom: 100px !important;

}



.margin-bottom-120 {

	margin-bottom: 120px !important;

}



.margin-bottom-130 {

	margin-bottom: 120px !important;

}



.margin-bottom-140 {

	margin-bottom: 140px !important;

}



.padding-top-0 {

	padding-top: 0px !important;

}



.padding-top-10 {

	padding-top: 10px !important;

}



.padding-top-20 {

	padding-top: 20px !important;

}

.padding-top-25 {

	padding-top: 25px !important;

}



.padding-top-30 {

	padding-top: 30px !important;

}



.padding-top-35 {

	padding-top: 35px !important;

}



.padding-top-40 {

	padding-top: 40px !important;

}



.padding-top-45 {

	padding-top: 45px !important;

}



.padding-top-50 {

	padding-top: 50px !important;

}

.padding-top-60 {

	padding-top: 60px !important;

}



.padding-top-70 {

	padding-top: 70px !important;

}



.padding-top-80 {

	padding-top: 80px !important;

}



.padding-top-100 {

	padding-top: 100px !important;

}



.padding-top-120 {

	padding-top: 120px !important;

}



.padding-top-150 {

	padding-top: 150px !important;

}



.padding-bottom-70 {

	padding-bottom: 70px !important;

}



.padding-bottom-60 {

	padding-bottom: 60px !important;

}



.padding-bottom-50 {

	padding-bottom: 50px !important;

}



.padding-bottom-40 {

	padding-bottom: 40px !important;

}



.padding-bottom-30 {

	padding-bottom: 30px !important;

}



.padding-bottom-20 {

	padding-bottom: 20px !important;

}



.padding-bottom-10 {

	padding-bottom: 10px !important;

}



.padding-bottom-0 {

	padding-bottom: 0px !important;

}



.margin-top-0 {

	margin-top: 0px !important;

}



.padding-left-20{

	padding-left: 20px;

}



/* ========================================================== */

/* 			               02. MENU-NAV                       */

/* ========================================================== */



.navbar-brand{

	height: 70px;

}



.navbar {

	width: 100%;

	z-index: 9999;

	padding-top: 0px;

	padding-bottom: 0px;

	padding-left: 0;

	padding-right: 0;

}



.navbar-toggler {

    border: 1px solid #1089d4;

}



.navbar-toggler-icon {

	width: 1.3em;

    height: 1.3em;

}



.navbar-toggler-icon i {

    color: #1089d4;

    vertical-align: middle;

}



.navbar-fixed-top {

	position: absolute!important;

	background-color: transparent!important;

	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04)!important;

	border-bottom: none;

	transition: background-color 0.25s ease 0s;

}



.navbar-fixed-top.opaque {

	position: fixed!important;

	background-color: #fff!important;

	border-bottom: 1px solid #efefef;

	transition: all 0.25s ease-in-out 0s;

}



.navbar-fixed-top .navbar-nav > li > a, .navbar-fixed-top .navbar-nav > li > a:hover{

	color: #1089d4!important;

	-webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

}



.navbar-fixed-top .navbar-nav > li > a{

	color:#405263 !important;

	font-size: 18px !important;

	line-height: 30px !important;

	padding: 10px 20px!important;

	font-family: 'Dosis', sans-serif;

	font-weight: 600;

}



.navbar-fixed-top .navbar-nav .current a {

    color:#1089d4!important;

     -webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

}



.navbar-fixed-top.opaque .navbar-nav .current a {

    color:#1089d4!important;

     -webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

}



.navbar-fixed-top .navbar-nav > li > a.discover-btn {

	border: 1px solid #1e90ff;

	color: #fff!important;

	background: #1e90ff;

	border-radius: 8px 8px;

	padding: 12px 18px!important;

	margin-left: 10px;

	margin-right: 15px;

	font-family: 'Dosis', sans-serif;

}



.navbar-fixed-top .navbar-nav > li > a.discover-btn:hover {

	color: #1089d4!important;

	background: transparent;

	border: 1px solid #1e90ff;

}



/* ========================================================== */

/* 			                03. FOOTER                        */

/* ========================================================== */



.footer{

	position: relative;

	overflow: hidden;

    display: block;

    background-color: #fff;

}



.footer-bottom{

	padding: 60px 0;

}



.footer-white-box, .footer-grey-box, .footer-blue-box, .footer-dark-grey-box {

	padding: 55px 40px 65px 40px!important;

}



.footer-white-box i, .footer-grey-box i, .footer-blue-box i, .footer-dark-grey-box i {

    margin-bottom: 10px;

    color: #1e90ff;

    font-size: 65px;

}



.footer-white-box {

	background-color: #fff;

}



.footer-grey-box {

	background-color: #f8f9f9;

}



.footer-blue-box {

	background-color: #1e90ff;

}



.footer-dark-grey-box {

	background-color: #f0f1f2;

}



.footer-blue-box h5, .footer-blue-box p, .footer-blue-box a, .footer-blue-box i {

	color: #fff!important;

}



.footer p {

	margin-bottom: 5px;

	line-height: 24px;

	color: #454545;

}



.footer p > a {

	font-size: 17px;

	color: #454545;

	text-decoration:underline;

}



a.footer-links {

    display: block;

    font-size: 17px;

    margin-bottom: 2px;

    color: #454545;

}



/* Footer Social Icons */

ul.footer_social{

	width:100%;

	max-width:1140px;

	display:block;

	margin:0 auto;

	padding-top:15px;

	text-align:center;

}



ul.footer_social li{

	display:inline-block;

    margin:0 ;

	line-height:100%!important;

}



ul.footer_social li a i {

  display: inline-block;

  margin:0 8px;

  padding:0;

  font-size:26px!important;

  line-height: 26px!important;

  color: #1e90ff;

  transition: all .5s ease-in-out;

  -moz-transition: all .25s ease-in-out;

  -webkit-transition: all .25s ease-in-out;

}



ul.footer_social li a i.fa-twitter {

  color: #4099ff;

}



ul.footer_social li a i.fa-pinterest {

  color: #C92228;

}



ul.footer_social li a i.fa-facebook-square {

  color: #3b5998;

}



ul.footer_social li a i.fa-instagram {

  color: #8a3ab9;

}



ul.footer_social li a i.fa-skipe {

  color: #00aff0;

}



ul.footer_social li a i.fa-dribble {

  color: #ea4c89;

}



ul.footer_social li a i:hover {

	color:#abd3f9!important;

}



/* Footer Contact */

p.contact-info{

	margin-bottom:8px;

}



p.contact-info a{

	margin-bottom:8px;

	color: #7c8595;

}



p.contact-info a:hover{

	text-decoration: underline;

}



p.contact-info i{

	font-size:18px;

	padding-right:5px;

	vertical-align: middle;

	color: #1e90ff;

}



/* ========================================================== */

/* 			               04. HOME                           */

/* ========================================================== */



.home-section {

	background: url(../images/navi.gif);

	background-size: 100vw 100vh;
	
	background-position: top left;

	background-repeat: no-repeat;

	width: 100%;

	position: relative;

	z-index: 999;

	position: relative;

  	padding-top: 100px;

}



.home-section-overlay{

	background: #000000;

	height: 100vh;

	opacity: 0.70;

	position: absolute;

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

}



.home-section h1{

    color: #fff;

    line-height: 1.1em;

}



.home-section p{

	margin-bottom: 36px;

	font-size: 20px;

	line-height: 32px;

	font-weight: 400;

	color: #fff;

}



/* -----  Video Button ----- */



.video-icon {

	width: 92px;

	height: 92px;

	border:2px solid #fff;

	border-radius: 50% 50%;

	display: inline-block;

	background: transparent;

	transition: all 0.4s ease-in-out;

    -webkit-transition: all 0.4s ease-in-out;

}



.video-icon:before {

    content: '';

    width: 92px;

    height: 92px;

    position: absolute;

    border: 1px solid #fff;

    border-radius: 100%;

    left: 50%;

    margin-left: -46px;

    bottom: 10%;

    margin-bottom: -9px;

    -webkit-animation: doublePulsation 1.9s ease infinite;

    animation: doublePulsation 1.9s ease infinite;

    z-index: 0;

}



@-webkit-keyframes doublePulsation {

     0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}

    50% {opacity: 0.55;}

    100% {-webkit-transform: scale(1.3, 1.3); opacity: 0.0;}

}



@keyframes doublePulsation {

     0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}

    50% {opacity: 0.55;}

    100% {-webkit-transform: scale(1.3, 1.3); opacity: 0.0;}

}



.video-icon:hover{

	background: #fff;

}



.video-icon:hover i{

	color: #4285f4;

}



.video-icon i {

	font-size: 46px;

	line-height: 92px;

	color:#fff;

	margin-left: 10px;

	transition: all 0.4s ease-in-out;

    -webkit-transition: all 0.4s ease-in-out;

}



/* -----  Integration ----- */

.integration-platforms{

	margin: 25px 0 0 5px;

}



.integration-platforms h5{

	display: inline-block;

	margin: 10px 10px 0 0;

}



ul.integration-mentions{

	display: inline-block;

}



ul.integration-mentions li {

    display: inline-block;

    margin: 7px 15px;

    -webkit-transition: all 0.25s ease-in-out;

    -moz-transition: all 0.25s ease-in-out;

    -ms-transition: all 0.25s ease-in-out;

    -o-transition: all 0.25s ease-in-out;

    transition: all 0.25s ease-in-out;

}



ul.integration-mentions li img {

    max-height: 32px;

}



/* ========================================================== */

/* 			               05. TEAM                           */

/* ========================================================== */



.team-item{

	margin-top:40px;

    text-align: center;

    transition: all 1s;

	border-radius: 8px 8px;

	-webkit-transition: all 0.25s ease-in-out;

	-moz-transition: all 0.25s ease-in-out;

	-ms-transition: all 0.25s ease-in-out;

	-o-transition: all 0.25s ease-in-out;

	transition: all 0.25s ease-in-out;

}



.team-item:hover{

	transition: all 1s;

}



.team-item h3{

	margin:20px 0 1px 0!important;

	color:#454545;

	font-size:18px;

	font-weight: 700;

	text-transform:uppercase;

	transition: all .25s ease-in-out;

	-moz-transition: all .25s ease-in-out;

	-webkit-transition: all .25s ease-in-out;

}



.team-item p{

	padding: 0 30px;

}



.team-info {

	display: block;

	margin-bottom:0;

}



.team-info p{

	color:#acacac;

	font-style:italic;

}



.team-info::after {

    background: #1e90ff;

    display: inline-block;

    vertical-align: middle;

    content: "";

    width: 50px;

    height: 3px;

    margin-top: -20px;

}



.team-img{

	width: 160px;

	padding: 7px 7px;

	background-color: #f9f9f9;

	border:3px solid #eaeaea;

	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);

	-webkit-border-radius: 50%;

	-moz-border-radius: 50%;

	border-radius: 50%;

}



ul.team-icon {

	margin: 15px 0 0 0;

}



ul.team-icon li{

	display: inline-block;

	margin:0 3px;

	text-align: center;

	-webkit-transition: all 0.25s ease-in-out;

	-moz-transition: all 0.25s ease-in-out;

	-ms-transition: all 0.25s ease-in-out;

	-o-transition: all 0.25s ease-in-out;

	transition: all 0.25s ease-in-out;

}



ul.team-icon li a{

	margin: 0;

	display: inline-block;

	padding: 5px 5px;

	font-size: 20px;

	line-height: 22px;

	color:#4099ff;

}



ul.team-icon li a.twitter{

	color: #4099ff;

}



ul.team-icon li a.pinterest{

	color: #C92228;

}



ul.team-icon li a.facebook{

	color: #3b5998;

}



ul.team-icon li a.dribble{

	color: #ea4c89;

}



.team-icon li a:hover{

	opacity: 0.59;

	-webkit-transition: all 0.25s ease-in-out;

	-moz-transition: all 0.25s ease-in-out;

	-ms-transition: all 0.25s ease-in-out;

	-o-transition: all 0.25s ease-in-out;

	transition: all 0.25s ease-in-out;

}



/* ========================================================== */

/* 			                06. FEATURES                      */

/* ========================================================== */



.services-wrapper{

	position: relative;

	z-index: 999;

	overflow: hidden;

}



.services-wrapper::before {

    background-image: radial-gradient(#e2ecf9 15%,transparent 25%);

    background-size: 20px 20px;

    position: absolute;

    content: "";

    width: 800px;

    height: 225px;

    left: 0;

    margin-left: -412px;

    top: 0;

    margin-top: 5px;

    z-index: -1;

}



.services-wrapper::after {

    background-image: radial-gradient(#e2ecf9 15%,transparent 25%);

    background-size: 20px 20px;

    position: absolute;

    content: "";

    width: 800px;

    height: 200px;

    left: 50%;

    margin-left: 195px;

    bottom: 0;

    margin-bottom: 50px;

    z-index: -1;

}



.main-services {

	position: relative;

    margin: 50px 10px 40px 10px;

    padding: 50px 15px 32px 15px;

    overflow: hidden;

    text-align: center;

    border: 1px solid #e5efff;

    background-color: #fff;

    border-radius: 8px 8px;

    box-shadow: 12px 14px 0 #e5edfa;

	transition:all 1s;

}



.main-services:hover{

	border: 1px solid #89c7f7;

	transform: scale(1.025);

	transition:all 1s;

}



.main-services img{

	height: 50px;

    margin-bottom: 25px;

}



.main-services h3{

	font-size: 26px;

	color: #292929;

	margin-bottom: 15px;

}



.main-services p{

	padding: 0 10px;

	margin-bottom: 25px;

}







blockquote {

	font-size: 16px;

	color: #4285f4;

	border-left: 2px solid #4285f4;

}



/* Features */

.feature-box{

	text-align: center;

	margin: 30px 0 0 0;

	transition: all 1s;

}



.faq-box{

	margin: 30px 0 0 0;

	transition: all 1s;

}



.feature-box i{

	margin-bottom: 10px;

	font-size: 46px;

	color: #1e90ff;

}



.feature-box:hover i{

	transform: scale(1.15);

	transition: all 1s;

}



.feature-box h4, .faq-box h4{

	font-size: 22px;

	margin-bottom: 10px;

}



.faq-box h5{

	margin-bottom: 7px;

}



.feature-box p, .faq-box p{

	color: #7c8595;

}



/* ========================================================== */

/* 			               07. PRICING                        */

/* ========================================================== */



.pricing-wrapper {

    position: relative;

    z-index: 999;

    overflow: hidden;

}



.pricing-wrapper::before {

    background-image: radial-gradient(#e2ecf9 15%,transparent 25%);

    background-size: 20px 20px;

    position: absolute;

    content: "";

    width: 800px;

    height: 245px;

    left: 0;

    margin-left: -412px;

    top: 0;

    margin-top: -40px;

    z-index: -1;

}



.pricing-wrapper::after {

    background-image: radial-gradient(#e2ecf9 15%,transparent 25%);

    background-size: 20px 20px;

    position: absolute;

    content: "";

    width: 800px;

    height: 200px;

    left: 50%;

    margin-left: 195px;

    bottom: 0;

    margin-bottom: 50px;

    z-index: -1;

}



.price-box{

	position: relative;

    margin: 40px 10px 20px 5px;

    padding: 50px 10px 32px 10px;

    overflow: hidden;

    text-align: center;

    border: 1px solid #e5efff;

    background-color: #fff;

    border-radius: 8px 8px;

    box-shadow: 12px 14px 0 #e5edfa;

	transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}



.price-box.grey-price-box{

	background-color: #fcfcfc;

}



.price-box:hover{

	transform: scale(1.025);

	transition: all 1s;

}



.price-box .price-subtitle,.price-box .price-text{

	color: #6a6a6a;

}



ul.pricing-list{

	padding: 0 30px;

}



ul.pricing-list li.price-title{

	font-size: 20px;

	line-height: 24px;

	font-weight: 700;

	letter-spacing: 1px;

	color: #071e55;

}



ul.pricing-list li.price-value{

	font-family: 'Dosis', sans-serif;

	font-size: 70px;

	line-height: 70px;

	display: block;

	margin-top:20px;

	margin-bottom: 10px;

	color: #071e55;

}



ul.pricing-list li.price-subtitle{

	font-family: 'Nunito';

	margin-bottom: 30px;

	font-size: 16px;

	line-height: 24px;

	font-weight: 600;

	color: #6a6a6a;

}



ul.pricing-list li.price-text{

	display: block;

	font-family: 'Nunito';

	text-align: left;

	font-size: 16px;

	line-height: 28px;

	font-weight: 400;

	margin-bottom: 5px;

}



ul.pricing-list li.price-tag a{

	color: #fff;

	background: #1e90ff;

	border:1px solid #1e90ff;

	border-radius: 5px 5px;

	padding: 15px 30px;

	display: inline-block;

	font-size: 15px;

	line-height: 24px;

	font-weight: 600;

	margin: 30px 0 5px 0;

	transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}



ul.pricing-list li.price-tag a:hover{

	background: #037aef;

}



ul.pricing-list li.price-tag-line a{

	color: #1e90ff;

	background: transparent;

	border:1px solid #1e90ff;

	border-radius: 5px 5px;

	padding: 15px 30px;

	display: inline-block;

	font-size: 15px;

	line-height: 24px;

	font-weight: 600;

	margin: 30px 0 5px 0;

	transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}



ul.pricing-list li.price-tag-line a:hover{

	color: #fff;

	background: #037aef;

	border:1px solid #037aef;

}



/* ========================================================== */

/* 			                   08. BLOG                       */

/* ========================================================== */



.blog-item{

	position: relative;

    margin: 50px 5px 40px 5px;

    overflow: hidden;

    border: 1px solid #e5efff;

    background-color: #fff;

    border-radius: 8px 8px;

    box-shadow: 12px 14px 0 #e5edfa;

    transition: all 1s;

}



.blog-item:hover{

	border: 1px solid #89c7f7;

	transform: scale(1.025);

	transition:all 1s;

}



.blog-item img {

	-webkit-border-radius: 5px 5px 0 0;

    -moz-border-radius: 5px 5px 0 0;

    border-radius: 5px 5px 0 0;

}



.blog-item-inner{

	margin-bottom: 30px;

	padding:5px 25px;

}



.blog-item-inner p{

	margin:12px 0 2px 0;

}



h3.blog-title{

	margin-top:10px;

	margin-bottom:10px;

}



h3.blog-title a{

	color: #071e55;

	font-size:20px;

	transition: all .25s ease-in-out;

	-moz-transition: all .25s ease-in-out;

	-webkit-transition: all .25s ease-in-out;

}



h3.blog-title a:hover{

	color:#017df7;

	transition: all .25s ease-in-out;

	-moz-transition: all .25s ease-in-out;

	-webkit-transition: all .25s ease-in-out;

}



a.blog-icons{

	color:#858585;

	font-size:14px;

	font-style:italic;

	margin-right:10px;

	padding-right:10px;

	border-right:1px solid #aaa;

	transition: all .25s ease-in-out;

	-moz-transition: all .25s ease-in-out;

	-webkit-transition: all .25s ease-in-out;

}



a.blog-icons i{

	padding-right: 4px;

	color:#656565;

	font-size:17px;

	line-height:18px;

	vertical-align: text-bottom;

}



a.blog-icons:hover {

	color:#017df7;

}



a.blog-icons.last{

	border-right: none;

}



a.blog-icons:hover{

	color:#228798;

	transition: all .25s ease-in-out;

	-moz-transition: all .25s ease-in-out;

	-webkit-transition: all .25s ease-in-out;

}



/* ========================================================== */

/* 						    09. CONTACT                       */

/* ========================================================== */



iframe.contact-maps {

	padding-right: 20px;

}



p.contact-info{

	margin-bottom:8px;

}



p.contact-info a{

	margin-bottom:8px;

	color: #7c8595;

}



p.contact-info a:hover{

	text-decoration: underline;

}



p.contact-info i{

	font-size:18px;

	padding-right:5px;

	vertical-align: middle;

	color: #1e90ff;

}



#contact-form{

	margin-top: 30px;

}



input.contact-input{

	width:96%;

	height:50px;

    padding-left:2%;

    padding-right:2%;

	margin-bottom:12px;

	color: #727272;

	background-color: #f6f7f8;

    border: 1px solid #ececec!important;

    font-size:14px;

	-webkit-border-radius: 5px 5px 5px 5px;

    -moz-border-radius: 5px 5px 5px 5px;

    border-radius: 5px 5px 5px 5px;

}



textarea{

	height:100px;

	margin-bottom:12px;

	width:96%;

    padding-left:2%;

    padding-right:2%;

    padding-top:10px;

    padding-bottom:10px;

	color: #727272;

	background-color: #f6f7f8;

    border: 1px solid #ececec!important;

    font-size:14px;

	-webkit-border-radius: 5px 5px 5px 5px;

    -moz-border-radius: 5px 5px 5px 5px;

    border-radius: 5px 5px 5px 5px;

}



input.contact-submit{

	color: #fff;

	background: #1e90ff;

    border: none;

    cursor: pointer;

    display: inline-block;

    font-size: 14px;

	font-weight:600;

    padding: 16px 30px;

    position: relative;

    text-transform: uppercase;

	-webkit-border-radius: 5px 5px;

    -moz-border-radius: 5px 5px;

    border-radius: 5px 5px;

	transition: all .3s ease-in-out;

	-moz-transition: all .3s ease-in-out;

	-webkit-transition: all .3s ease-in-out;

}



input.contact-submit:hover{

	color: #fff;

	background: #037aef;

}



input.white-input::-webkit-input-placeholder,

textarea.white-input::-webkit-input-placeholder { /* WebKit browsers */

    color:#454545;

}

input.white-input:-moz-placeholder,

textarea.white-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

    color:#454545;

}

input.white-input::-moz-placeholder,

textarea.white-input::-moz-placeholder { /* Mozilla Firefox 19+ */

    color:#454545;

}

input.white-input:-ms-input-placeholder,

textarea.white-input:-ms-input-placeholder { /* Internet Explorer 10+ */

    color:#454545;

}



#contact-form input.contact-input:focus, #contact-form textarea.contact-commnent:focus {

  border-color:#fff;

  outline: none;

}



p.contact_success_box{

	display:inline-block;

	color:#0c75fb;

	font-size:20px;

	font-style:italic;

}



/* ========================================================== */

/* 			               10. OTHER ELEMENTS                 */

/* ========================================================== */



/* -----  a) Newsletter ----- */

.newsletter_form_wrapper{

	width:100%;

	text-align:center;

	margin-bottom:30px;

}



.newsletter_form_box{

	margin:0 auto;

	max-width:730px;

}



#newsletter-form #email_newsletter {

	width:100%;

	max-width:450px; 

	height:65px;

    padding:0 20px;

	border: 2px solid #fff;

	background-color: transparent;

    -moz-border-radius: 5px 0 0 5px;

    -webkit-border-radius: 5px 0 0 5px;

    border-radius: 5px 0 0 5px;

	color:#fff;  

    font-size:16px;

	margin:0;

}



#newsletter-form #submit-button-newsletter {

    width: 165px;

	height:65px;

    background: #fff;

	border: none;

    color:#1e90ff;  

    display: inline;

	margin:0 0 0 -5px;

    -moz-border-radius: 0 5px 5px 0;

    -webkit-border-radius: 0 5px 5px 0;

    border-radius: 0 5px 5px 0;

	font-size:16px;

	font-weight:700;

	vertical-align: top;

	transition: background-color .25s ease-in-out;

   -moz-transition: background-color .25s ease-in-out;

   -webkit-transition: background-color .25s ease-in-out;

}



#newsletter-form #submit-button-newsletter:hover {

	cursor: pointer;

	color:#0370ec;

    background-color:#fff;

	transition: background-color .25s ease-in-out;

   -moz-transition: background-color .25s ease-in-out;

   -webkit-transition: background-color .25s ease-in-out;

}



input#email_newsletter::-webkit-input-placeholder { /* WebKit browsers */

    color:#fff;

}

input#email_newsletter:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

    color:#fff;

}

input#email_newsletter::-moz-placeholder { /* Mozilla Firefox 19+ */

    color:#fff;

}

input#email_newsletter:-ms-input-placeholder { /* Internet Explorer 10+ */

    color:#fff;

}



.newsletter_success_box{

	font-size:18px;

	font-style:italic;

	color:#fff;

	margin:5px 0;

}



/* b) Buttons */



.btn-white {

	font-family: 'Dosis', sans-serif;

	font-size: 18px;

	line-height: 22px;

	font-weight: 600;

	color: #1089d4;

	background-color: #ffffff;

	border: 1px solid #fff;

    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);

	border-radius: 5px 5px;

    letter-spacing: 1px;

	margin: 10px 10px 0 10px 0;

	padding: 16px 26px;

	display: inline-block;

	transition: all 0.4s ease-in-out;

	-webkit-transition: all 0.4s ease-in-out;

}



.btn-white:hover{

	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);

	color: #0470ea!important;

	background:#f9f9f9;

}



.btn-white-border {

	color: #fff;

	background: transparent;

	font-family: 'Dosis', sans-serif;

	font-size: 18px;

	line-height: 22px;

	font-weight: 600;

	border: 1px solid #fff;

	border-radius: 5px 5px;

	margin: 10px 10px;

	padding: 16px 26px;

	display: inline-block;

	transition: all 0.4s ease-in-out;

	-webkit-transition: all 0.4s ease-in-out;

}



.btn-white-border:hover{

	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);

	color: #0470ea!important;

	background:#f9f9f9;

}



.btn-white i, .btn-white-border i {

	font-size: 22px;

	line-height: 22px;

	margin-right: 10px;

	vertical-align: text-top;

}



.btn-blue {

	font-family: 'Dosis', sans-serif;

	font-size: 18px;

	line-height: 22px;

	font-weight: 600;

	color: #fff;

	background-color: #1089d4;

	border: 1px solid #1089d4;

    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);

    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);

    letter-spacing: 1px;

	border-radius: 5px 5px;

	margin: 10px 10px 0 10px 0;

	padding: 20px 30px;

	display: inline-block;

	transition: all 0.4s ease-in-out;

	-webkit-transition: all 0.4s ease-in-out;

}



.btn-blue:hover{

	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);

	color: #fff!important;

	background:#3498db;

}



.btn-blue.small, .btn-blue-line.small {

	font-size: 16px;

	padding: 14px 20px;

}



.btn-blue-line {

	font-family: 'Dosis', sans-serif;

	font-size: 18px;

	line-height: 22px;

	font-weight: 600;

	color: #017df7;

	background-color: #fff;

	border: 1px solid #1089d4;

	border-radius: 5px 5px;

	margin: 20px 10px 0 10px 0;

	padding: 20px 30px;

	display: inline-block;

	transition: all 0.4s ease-in-out;

	-webkit-transition: all 0.4s ease-in-out;

}



.btn-blue-line:hover{

	color: #fff!important;

	background:#3498db;

}



a.btn-blue:visited, a.btn-blue:focus{

	color: #fff!important;

}



/* -----  c) Gallery PopUp ----- */



.popup-wrapper{

	display:block;

	position:relative;

	overflow:hidden;

}



.popup-gallery{

	display:inline-block;

	position:relative;

}



.first-gallery{

	margin-bottom:15px;

}



.popup-gallery img {

	position:relative;

	z-index:10;

	width: 100%;

	height: auto;

	-webkit-border-radius: 5px 5px 0 0;

    -moz-border-radius: 5px 5px 0 0;

    border-radius: 5px 5px 0 0;

}



.popup-gallery:hover img {

	opacity: 0.8;

	-webkit-border-radius: 5px 5px 0 0;

    -moz-border-radius: 5px 5px 0 0;

    border-radius: 5px 5px 0 0;

}



.popup-gallery a span.eye-wrapper, 

.popup-gallery a span.eye-wrapper2 {

	background-color:#000;

	position: absolute;

	display: block;

	overflow:hidden;

	z-index: 2;

	height:100%!important;

	top: 0%;

	margin-top: 0px;

	left: 0%;

	right: 0%;

	font-size: 22px;

	color:#fff;

	text-align: center;

	font-weight:300;

	opacity: 0;

	-webkit-border-radius: 5px 5px 0 0;

    -moz-border-radius: 5px 5px 0 0;

    border-radius: 5px 5px 0 0;

}



.popup-gallery-rounded a span.eye-wrapper, 

.popup-gallery-rounded a span.eye-wrapper2 {

	-webkit-border-radius: 5px 5px 5px 5px;

    -moz-border-radius: 5px 5px 5px 5px;

    border-radius: 5px 5px 5px 5px;

}



.popup-gallery a span.eye-wrapper i.eye-icon, .popup-gallery a span.eye-wrapper2 i.eye-icon{

	position: absolute;

	display: inline-block;

	font-size:36px;

	z-index: 3;

	top: 50%!important;

	margin-top: -18px!important;

	left: 0%;

	right: 0%;

}



.popup-gallery a:hover span{

	opacity: 1;

}



.popup-gallery img,

.popup-gallery a span {

	-webkit-transition: all 0.25s ease-in-out;

	-moz-transition: all 0.25s ease-in-out;

	-ms-transition: all 0.25s ease-in-out;

	-o-transition: all 0.25s ease-in-out;

	transition: all 0.25s ease-in-out;

}



.gallery-item{

	margin: 0 15px 37px 10px;

}



.portfolio-box{

	text-align:left;

	background-color: #f6f7f8;

    border-bottom: 2px solid #e0e0e0;

	margin-bottom:20px;

	padding:1px 20px 12px 20px;

	-webkit-border-radius: 0 0 5px 5px;

    -moz-border-radius: 0 0 5px 5px;

    border-radius: 0 0 5px 5px;

}



.portfolio-box h3{

	margin:10px 0 1px 0!important;

	line-height: 20px;

}



.portfolio-box h3 a{

	color:#454545;

	font-size:18px;

	transition: all .25s ease-in-out;

	-moz-transition: all .25s ease-in-out;

	-webkit-transition: all .25s ease-in-out;

}



.portfolio-item h3 a:hover{

	color:#3498db;

}



.portfolio-box p.portfolio-info{

	font-size:18px;

	margin-bottom:1px;

}



.carousel-showcase{

	padding-right: 15px;

	padding-left: 15px;

}



.showcase-wrapper {

    position: relative;

    z-index: 999;

    overflow: hidden;

    padding: 25px 30px 0 30px;

}



.showcase-wrapper::before {

    background-image: radial-gradient(#e2ecf9 15%,transparent 25%);

    background-size: 20px 20px;

    position: absolute;

    content: "";

    width: 800px;

    height: 245px;

    left: 0;

    margin-left: -410px;

    top: 0;

    margin-top: -25px;

    z-index: -1;

}



.showcase-wrapper::after {

    background-image: radial-gradient(#e2ecf9 15%,transparent 25%);

    background-size: 20px 20px;

    position: absolute;

    content: "";

    width: 800px;

    height: 200px;

    left: 50%;

    margin-left: 245px;

    bottom: 0;

    margin-bottom: -25px;

    z-index: -1;

}



/* d) Testimonials */

.testim-inner{

	margin-top: 10px;

	max-width: 800px;

	text-align: center;

}



.testim-inner img{

	max-width: 130px;

	border:1px solid #efefef;

	border-radius: 50% 50%;

	padding: 5px 5px;

	background-color: #fff;

	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);

	display: inline-block!important;

}



.testim-inner h6{

	margin-bottom: 5px;

	font-size: 20px;

	line-height: 26px;

	font-weight: 700;

	color: #1e90ff;

}



.testim-inner span.job-text{

	font-size: 19px;

	font-weight: 400;

}	



.testim-inner p{

	font-size: 20px;

	line-height: 32px;

	font-style: italic;

	margin-top: 20px;

}



/* ----- Testimonial Single ----- */



p.testimonial-single{

	margin-bottom: 25px;

	font-size: 28px;

	line-height: 38px;

	font-weight: 300;

	font-style: italic;

}



/* e) Accordion Tabs */



.card{

	border:none;

}



.card-header {

    padding: 6px 0 9px 0;

    margin-bottom: 0;

    background-color: transparent;

    border-bottom: 1px solid #f4f5f6;

}



.card-header h5 .btn-link {

	padding: 0;

	font-size: 23px;

    font-weight: 600;

    color: #071e55;

    background-color: transparent;

}



.card-header h5 .btn-link:hover, .card-header h5 .btn-link:focus {

	text-decoration: none;

}



.card-body {

    padding: 7px;

    border-top: 2px solid #1e90ff;

    font-family: 'Baloo Chettan 2', sans-serif;

	font-size: 24px;
	
	font-weight: 400;

    color: black;

}



/* f) Carousel */



.carousel-indicators {

    bottom: -15px;

}



.carousel-indicators li {

    position: relative;

    -ms-flex: 0 1 auto;

    flex: 0 1 auto;

    width: 25px;

    height: 7px;

    margin-right: 3px;

    margin-left: 3px;

    text-indent: -999px;

    cursor: pointer;

    background-color: rgba(255,255,255,.5);

    border-radius:5px 5px;

}



.carousel-indicators.testimonials-indicators {

    bottom: -40px;

}



.carousel-indicators.testimonials-indicators li {

    background-color: #e0e0e0;

}



.carousel-indicators.testimonials-indicators .active {

    background-color: #1e90ff;

}



.gallery-show {

    margin: 20px 0 40px 0;

    max-width: 100%;

    border-radius: 8px 8px;

    border: 8px solid rgba(255, 255, 255, 0.8);

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}



/* g) Features List */



ul.benefits {

    margin-bottom: 30px;

}



ul.benefits li {

    font-size: 24px;

    line-height: 36px;

    margin-bottom: 8px;

}



ul.benefits li i {

    font-size: 18px;

    line-height: 18px;

    margin-right: 8px;

    color: #1e90ff;

}



.no-padding-bottom{

	padding-bottom: 0;

}



/* ----- h) Dropcaps Features ----- */

.nav-pills .nav-link {

	margin-bottom: 10px;

}



.nav-pills .nav-link, .nav-pills .show > .nav-link {

    border: none!important;

	transition: all 1s;

}



.nav-pills .nav-link:hover {

    color: #fff;

    background-color: #fff;

    border: none!important;

    border-radius: 8px !important;

	box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;

	-moz-box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;

	-webkit-box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;

	transition: all 1s;

}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {

    color: #fff;

    background-color: #fff;

    border: 1px solid #f4f5f6!important;

    border-radius: 8px !important;

	box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;

	-moz-box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;

	-webkit-box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;

	transition: all 1s;

}



.features-second{

	margin: 10px 0;

}



.features-second h4{

	margin-top: 10px;

	font-size: 21px;

}



.features-second p{

	margin-bottom: 10px;

}



.dropcaps-circle {

    float: left;

    margin: 1px 25px 10px 0;

	background-color: #fcfcfc;

	border: 1px solid #eaeaea;

	width: 80px;

    height: 80px;

    text-align: center;

    vertical-align: middle;

    color: #017df7;

    font-size: 40px;

    line-height: 80px;

    position: relative;

    -webkit-border-radius: 50%;

    -moz-border-radius: 50%;

    border-radius: 50%;

    transition: all .50s ease-in-out;

    -moz-transition: all .50s ease-in-out;

    -webkit-transition: all .50s ease-in-out;

}



/* ----- i) Partners ----- */



.partners-paddings{

	padding: 50px 0 25px 0;

}



ul.partners-mentions li {

	display:inline-block;

    margin: 15px 30px;

    -webkit-transition: all 0.25s ease-in-out;

    -moz-transition: all 0.25s ease-in-out;

    -ms-transition: all 0.25s ease-in-out;

    -o-transition: all 0.25s ease-in-out;

    transition: all 0.25s ease-in-out;

}



ul.partners-mentions li img {

    max-height: 62px;

    opacity: 0.4;

}



ul.partners-mentions li img:hover {

    opacity: 0.8;

	-webkit-transition: all 0.25s ease-in-out;

    -moz-transition: all 0.25s ease-in-out;

    -ms-transition: all 0.25s ease-in-out;

    -o-transition: all 0.25s ease-in-out;

    transition: all 0.25s ease-in-out;

}



/* ========================================================== */

/* 			             14. MEDIA QUERIES                    */

/* ========================================================== */



@media (max-width: 991px) {


	.vsl{
		margin-top: 0px; 
	}

	.navbar-fixed-top {

	    background-color: #fff!important;

	}



	.navbar-fixed-top.opaque {

	    padding: 0;

	}



	.navbar-fixed-top {

	    border-bottom: 1px solid #efefef;

	}



	.navbar-fixed-top .navbar-nav > li.discover-link {

		margin-top: 10px;

	}



	.navbar-fixed-top .navbar-nav > li > a.discover-btn {

	    padding: 8px 12px!important;

	    margin-left: 20px;

	    font-size: 17px!important;

	}

	#headline-container{
		margin-top: 0px;
	}
	
	.heading {
		font-size: 20px;
		line-height: 35px;
		/* text-shadow: 0 0 40px black; */
	}

}



@media (max-width: 768px) {


	.vsl{
		margin-top: 0px; 
	}

	.home-section {

		padding-top: 90px;

	  	padding-bottom: 50px;

	}



	.home-section h1{

		font-size: 34px;

	}



	#newsletter-hero-form #email_hero_newsletter {

        width: 80%;

    	max-width: 320px;

    }



	#newsletter-form #email_newsletter {

        width: 80%;

    	max-width: 320px;

    }



    .hero-image{

    	margin-top: 70px;

    }



    .padding-top-120 {

	    padding-top: 30px !important;

	}

	#headline-container{
		margin-top: 0px;
	}
	
	.heading {
		font-size: 20px;
		line-height: 35px;
		/* text-shadow: 0 0 40px black; */
	}

}



@media (max-width: 375px) {


	.vsl{
		margin-top: 0px; 
	}

	.navbar-toggle {

	    margin-bottom: 0;

	    border: 1px solid #9f9f9f!important;

	}


	#headline-container{
		margin-top: 0px;
	}
	
	.heading {
		font-size: 30px;
		line-height: 45px;
		/* text-shadow: 0 0 40px black; */
	}


	#newsletter-hero-form #email_hero_newsletter {

        width: 64%;

    	max-width: 230px;

    	padding:0 7px;

    	margin:0 5px 20px 0;

	    -moz-border-radius: 5px 5px 5px 5px!important;

	    -webkit-border-radius: 5px 5px 5px 5px!important;

	    border-radius: 5px 5px 5px 5px!important;

	}



	#newsletter-hero-form #submit-button-hero-newsletter {

	    display: inline-block;

	    width: 115px;

	    -moz-border-radius: 5px 5px 5px 5px!important;

	    -webkit-border-radius: 5px 5px 5px 5px!important;

	    border-radius: 5px 5px 5px 5px!important;

	}



	#newsletter-section .padding-top-60{

		padding-top: 0!important;

	}



	#newsletter-section h3{

		font-size: 24px!important;

	}



	#newsletter-form #email_newsletter {

	    -moz-border-radius: 5px 5px 5px 5px!important;

	    -webkit-border-radius: 5px 5px 5px 5px!important;

	    border-radius: 5px 5px 5px 5px!important;

	}



	#newsletter-form #submit-button-newsletter {

	    display: inline-block;

		margin-top:10px!important;

	    -moz-border-radius: 5px 5px 5px 5px!important;

	    -webkit-border-radius: 5px 5px 5px 5px!important;

	    border-radius: 5px 5px 5px 5px!important;

	}



	#newsletter-section .padding-top-60{

		padding-top: 0!important;

	}



	#newsletter-section h3{

		font-size: 24px!important;

	}



	.home-section h1 {

	    font-size: 38px;

	    line-height: 44px;

	}



	.feature-box {

	    text-align: center;

	}



	.feature-box i {

		display: inline-block;

		float: none;

		margin-bottom: 25px;

	}



	ul.partners-mentions li img {

	    max-height: 36px;

	}



	.section-white {

	    padding: 60px 0 70px 0!important;

	}



	.section-white.small-padding-bottom, .section-grey.small-padding-bottom {

	    padding: 60px 0 50px 0!important;

	}



	.margin-left-20{

		margin-left: 1px!important;

	}



	.register-form-terms{

		padding-bottom: 30px;

	}



	ul.integration-mentions li {

	    display: inline-block;

	    margin: 10px 7px;

	    -webkit-transition: all 0.25s ease-in-out;

	    -moz-transition: all 0.25s ease-in-out;

	    -ms-transition: all 0.25s ease-in-out;

	    -o-transition: all 0.25s ease-in-out;

	    transition: all 0.25s ease-in-out;

	}



	ul.integration-mentions li img {

	    max-height: 30px;

	}



	.services-wrapper{

		margin-top: 30px;

	}



	.small-col-inside{

		padding-right: 25px;

		padding-left: 25px;

	}



	.footer-white-box {

		border-top: 1px solid #dedede;

	}



	iframe.contact-maps {

		padding-right: 1px;

	}



}

.main-cta-button{
	margin-top: 200px;
}

.navigation-img{
	border-radius: 7px;
	margin-bottom: 150px;
	margin-top: 0px;
	transform: perspective(200px) rotate3D(1, 0, 0, 15deg);
	max-width: 50vw;
	filter: drop-shadow(0px 10px 10px #002829);
}

@media (max-width: 768px) {

	.main-cta-button{
		margin-top: 20px;
	}

	.heading{
		line-height: 200px;
	}

	.home-section {
		background: url(../images/navim.gif);

		background-size: 100vw 100vh;
	
		background-position: top left;

		background-repeat: no-repeat;

		width: 100%;

		position: relative;

		z-index: 999;

		position: relative;

		padding-top: 100px;
	}

	.navigation-img{
		border-radius: 7px;
		margin-bottom: 150px;
		margin-top: 0px;
		transform: perspective(200px) rotate3D(1, 0, 0, 30deg);
		max-width: 70vw;
		text-shadow: 0 0 10px black;
	}

}

@keyframes fade-in-up {
	0% {
		opacity: 0;
   }
	100% {
		transform: translateY(0);
		opacity: 1;
   }
}

/*btn_background*/
.effect01 {
	border-radius: 0;
	border: 5px solid #1e90ff;
	font-family: 'Nunito';
	color: #FFF;
	background-color: #071e55;
	/* text-shadow: 0 0 5px black; */
	animation-name: shake-animation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
  }
  
  .effect01:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
	cursor: pointer;
	border: 5px solid #1e90ff;
	/* background-color: #FFF; */
	color: #1e90ff;
  }
  
  /*highlight*/
  .effect01:after {
	background: rgb(169, 255, 236);
	border: 50px solid rgb(39, 98, 121);
	content: "";
	height: 455px;
	left: -275px;
	opacity: .8;
	position: absolute;
	top: -150px;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
	width: 150px;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	/*easeOutCirc*/
	z-index: 1;
  }
  
  .effect01:hover:after {
	background: #FFF;
	border: 20px solid rgb(167, 145, 145);
	opacity: 0;
	left: 120%;
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
  }
  
  @keyframes shake-animation {
  0% { transform:translate(0,0) }
  1.78571% { transform:translate(10px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(10px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(10px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
  }
  
  @keyframes jittery {
  
	5%,
	50% {
	  transform: scale(1);
	}
  
	10% {
	  transform: scale(0.9);
	}
  
	15% {
	  transform: scale(1.15);
	}
  
	20% {
	  transform: scale(1.15) rotate(-5deg);
	}
  
	25% {
	  transform: scale(1.15) rotate(5deg);
	}
  
	30% {
	  transform: scale(1.15) rotate(-3deg);
	}
  
	35% {
	  transform: scale(1.15) rotate(2deg);
	}
  
	40% {
	  transform: scale(1.15) rotate(0);
	}
  }

.vsl-wrap .vsl {
	max-width: 100%;
	max-height: 100%;
}

.vsl-wrap.stuck {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 260px;
	height: 145px;
	transform: translateY(100%);
	animation: fade-in-up 0.75s ease forwards;
   z-index: 1;
}