<!doctype html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Ads: 380756480 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-380756480"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-380756480');
    </script>

    <!-- Hotjar Tracking Code for www.buccasolutions.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2391679,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preload" href="css/main.mina.css" as="style">
	<link rel="preload" href="css/owl.carousel.mina.css" as="style">
	<link rel="preload" href="js/third-party.js" as="script">
	<link rel="stylesheet" href="css/main.mina.css">
	<link rel="stylesheet" href="css/owl.carousel.mina.css">
	<link rel="stylesheet" href="css/type.css">
	<link rel="stylesheet" href="css/slider.css">
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<base target="_parent">
</head>

<body id="pricing-page" class="body-padded">
	<!-- Language Selector Popup -->
	<div class="site-wrapper">
		<div>
			<section class="form-basic page-form ie-scroll">
				<div class="prv-avatar container">
					<img id="form-avatar" class="form-avatar" src="images/bucca.png">
					<div v-if="step > 0">
						<input v-on:click="goToPreviousPage()" type="image" id="prvbtn" name="previous" class="prv-btn"
							src="images/convert.png" data-rotate="90" />
					</div>
					<div v-else></div>
				</div>
				<div class="container form-container">
					<form class="pricing-form" id="pricing-form" ref="form" name="form" action="https://formsubmit.co/gmwaleed@hotmail.com" target="_blank" method="POST">
						<fieldset>
							<h3>Finally, What&#39;s a good phone number for you?</h3>
							<div class="text-input">
								<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css" /> -->
								<input v-on:keyup="keyCheck" type="text"
									id="phone1" name="phone" placeholder="(XXX) XXX-XXXX" autofocus
									required />
								<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script> -->
								<script src="js/jquery-3.3.1.mina.js"></script>
								<script>
									$.getJSON('https://ip-api.io/json/1.2.3.4', function(data){
										var input = document.getElementById("phone1");
										console.log(data.callingCode);
										input.defaultValue = '( +'+ data.callingCode +' ) ';
										const end = input.value.length;
										input.setSelectionRange(end, end);
										input.focus();
									});
									
									// intlTelInput(input, {
									// initialCountry: "auto",
									// 	geoIpLookup: function(success, failure) {
									// 		$.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
									// 		var countryCode = (resp && resp.country) ? resp.country : "us";
									// 		success(countryCode);
									// 		});
									// 	},
									// });
								</script>
								<label v-if="validateEmail && displayError && isInvalid" id="hint" class="error">Please
									enter a valid email</label>
								<label v-else-if="validateName && displayError && isInvalid" id="hint"
									class="error">Please fill out both first and last name</label>
								<label v-else-if="validateCompany && displayError && isInvalid" id="hint"
									class="error">Please fill out your company&#39;s name</label>
								<label v-else-if="validatePhone && displayError && isInvalid" id="hint"
									class="error">Please enter a valid phone number</label>
								<div v-else></div>
							</div>
							<!-- GDPR compliance -->
							<!-- End GDPR compliance -->
							<!-- Buttons -->
							<div class="btn-div"></div>
							<div id="b6" class="btn-group" style="opacity: 0.0;">
								<input v-if="isInvalid" type="button" id="nextbtn-7" name="next"
									value="Next" class="form-button btn-off" form="pricing-form" />
								<input v-else @click="document.getElementById('nextbtn-7').style.background='grey';document.getElementById('nextbtn-7').value='Please Wait...';" type="submit" id="nextbtn-7" name="next"
									value="Next" class="form-button btn-on" form="pricing-form" />
							</div>
							<div id="footer-exp"></div>
							<!-- End buttons -->
						</fieldset>
						<fieldset></fieldset>
						<!-- Hidden UTM fields -->
						<!-- <input v-model="form['keyword']" type="text" name="keyword" id="keyword" hidden=true>
						<input v-model="form['utm_campaign']" type="text" name="utm_campaign" id="utm_campaign"
							hidden=true>
						<input v-model="form['utm_source']" type="text" name="utm_source" id="utm_source" hidden=true>
						<input v-model="form['utm_medium']" type="text" name="utm_medium" id="utm_medium" hidden=true>
						<input v-model="form['utm_content']" type="text" name="utm_content" id="utm_content"
							hidden=true>
						<input v-model="form['utm_term']" type="text" name="utm_term" id="utm_term" hidden=true>
						<input v-model="form['utm_ts']" type="text" name="utm_ts" id="utm_ts" hidden=true>
						<input v-model="form['utm_ext_ad_id']" type="text" name="utm_ext_ad_id" id="utm_ext_ad_id"
							hidden=true>
						<input v-model="form['utm_ext_adset_id']" type="text" name="utm_ext_adset_id"
							id="utm_ext_adset_id" hidden=true>
						<input v-model="form['utm_ext_campaign_id']" type="text" name="utm_ext_campaign_id"
							id="utm_ext_campaign_id" hidden=true>
						<input v-model="form['fpv']" type="text" name="fpv" id="fpv" hidden=true>
						<input v-model="form['referrer']" type="text" name="referrer" id="referrer" hidden=true>
						<input v-model="form['ip_address']" type="text" name="ip_address" id="ip_address" hidden=true>
						<input v-model="form['ip_data']" type="text" name="ip_data" id="ip_data" hidden=true>
						<input v-model="form['quant_id']" type="text" name="quant_id" id="quant_id" hidden=true>
						<input type="hidden" name="form_title" id="form_title" value="Pricing request form">
						<input type="hidden" name="country" id="country" value="United States">
						<input type="hidden" name="written_language" id="written_language" value="English"> -->
						<!-- <input type="hidden" name="post_url" id="post_url"
							value="https://hooks.zapier.com/hooks/catch/5604441/otd0ev1/"> -->
						<!-- <input v-model="form['mixpanel_id']" type="hidden" name="mixpanel_id" id="mixpanel_id"
							hidden=true> -->
						<!-- <input type="hidden" name="submission_time" id="submission_time" hidden=true> -->
						<!-- <input v-model="form['cid']" type="text" name="cid" id="cid" hidden=true> -->
						<!-- <input v-model="form['experimentName']" type="hidden" name="experimentName" id="experimentName"
							hidden=true> -->
						<!-- <input v-model="form['gclid']" type="text" name="gclid" id="gclid" hidden=true>
						<input v-model="form['_mkto_trk']" type="text" name="_mkto_trk" id="_mkto_trk" hidden=true>
						<input v-model="form['is_partner']" type="text" name="is_partner" id="is_partner" hidden=true>
						<input v-model="form['mutinyId']" type="text" name="mutinyId" id="mutinyId" hidden=true>
						<input v-model="form['msclkid']" type="text" name="msclkid" id="msclkid" hidden=true> -->
						<!-- <input type="hidden" name="_next" value="https://magnitrack.buccasolutions.com/roi_calculator-main/resources/roi-calculator.html"> -->
						<input type="hidden" name="_next" value="https://calendly.com/waleedmohamed/magnitrack-short-demo">
						<input type="hidden" name="_subject" value="New Magnitrack submission!">
						<input type="text" name="_honey" style="display:none">
						<input type="hidden" name="_captcha" value="false">
						<input type="hidden" name="_template" value="table">
						<!-- End hidden UTM fields -->
					</form>
				</div>
			</section>
			<script src="js/forms.js"></script>
		</div>
		<script src="js/type.js"></script>
		<script src="js/jquery-3.3.1.mina.js"></script>
		<script>
			const input = document.getElementById("slider");
			const label = document.getElementById("slider-label");

			input.addEventListener("input", event => {
				const value = Number(input.value) / 100;
				input.style.setProperty("--thumb-rotate", `${value * 720}deg`);
				if (Math.round(value * 100) == 100)
				{
					label.innerHTML = "100+";
				}
				else{
					label.innerHTML = Math.round(value * 100);
				}
			});
		</script>
</body>
</html>

<fieldset>
	<h3 id="q6">Finally, What&#39;s a good phone number for you?</h3>
	<div id="a6" class="text-input" style="opacity: 0.0;">
		<input v-on:keyup="keyCheck" type="text"
			id="phone1" name="phone" placeholder="(XXX) XXX-XXXX" autofocus/>
		<script src="js/jquery-3.3.1.mina.js"></script>
		<script>
			$.getJSON('https://ip-api.io/json/', function(data){
				var input = document.getElementById("phone1");
				console.log(data.callingCode);
				input.defaultValue = '( +'+ data.callingCode +' ) ';
				const end = input.value.length;
				input.setSelectionRange(end, end);
				input.focus();
			});
			
			// intlTelInput(input, {
			// initialCountry: "auto",
			// 	geoIpLookup: function(success, failure) {
			// 		$.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
			// 		var countryCode = (resp && resp.country) ? resp.country : "us";
			// 		success(countryCode);
			// 		});
			// 	},
			// });
		</script>
		<label v-if="validateEmail && displayError && isInvalid" id="hint" class="error">Please
			enter a valid email</label>
		<label v-else-if="validateName && displayError && isInvalid" id="hint"
			class="error">Please fill out both first and last name</label>
		<label v-else-if="validateCompany && displayError && isInvalid" id="hint"
			class="error">Please fill out your company&#39;s name</label>
		<label v-else-if="validatePhone && displayError && isInvalid" id="hint"
			class="error">Please enter a valid phone number</label>
		<div v-else></div>
	</div>
	<!-- GDPR compliance -->
	<!-- End GDPR compliance -->
	<!-- Buttons -->
	<div class="btn-div"></div>
	<div id="b6" class="btn-group" style="opacity: 0.0;">
		<input v-if="isInvalid" type="submit" id="nextbtn-7" name="next"
			value="Next" class="form-button btn-off" form="pricing-form" />
		<input v-else @click="document.getElementById('nextbtn-7').style.background='grey';document.getElementById('nextbtn-7').value='Please Wait...';" type="submit" id="nextbtn-7" name="next"
			value="Next" class="form-button btn-on" form="pricing-form" />
	</div>
	<div id="footer-exp"></div>
	<!-- End buttons -->
</fieldset>
<fieldset></fieldset>